.nav {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.branding {
    align-self: flex-start;
}

.menu-items {
    /* flex: 0.3; */
    display: flex;
    justify-content: space-around;
}

.signout {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signin {
    margin-left: 1em;
}

.username {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-left: 2em;
    width: 100%;
}